@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


/* Shared Styles */
.display-flex {
    display: flex;
}

.btn-primary {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #b16208;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3)
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 120px;
}

.section-title {
    font-size: 2.8rem;
    margin-bottom: 24px;
}


/* text-color */
.dark-01 {
    color: rgb(19, 19, 19);
}

.dark-02 {
    color: rgb(66, 66, 66);
}

.dark-03 {
    color: rgb(114, 114, 114);
}


/* Header Styles */

/* Navbar Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
}

.nav-links {
    margin-top: 50px;
}

.nav-item {
    list-style: none;
    margin-left: 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Styles */
.banner {
    margin-top: 100px;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.banner-desc {
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-img {
    width: 100%;
    margin-bottom: 45px;
}


/* Team Section */
.teams {
    align-items: center;
    gap: 73px;
    padding: 0 50px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.part1 {
    font-weight: 500;
}

.part2 {
    font-weight: 700;
}

.part3 {
    font-weight: 700;
    color: #FF900E;
}

.feature-desc {
    line-height: 26px;
    margin-bottom: 32px;
}


/* Features Section */
#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15)
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.our-features {
    gap: 140px;
}

.card-desc {
    line-height: 26px;
}

#experience-badge {
    padding: 45px 42px;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: -90px;
    margin-top: -120px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}


/* Facts Section */
.fact-section p {
    max-width: 542px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
}

.fact-card {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-icon {
    margin-bottom: 10px;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.fact-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.fact-card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15)
}


/* Sponsor Section */
.our-sponsors {
    margin-top: 70px;
}

.sponsor {
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    filter: grayscale(100%);
    overflow: hidden;
    width: 100%;
}


/* Scrolling for smooth loop */
.sponsor-track {
  display: flex;
  gap: 50px;
  animation: scroll 30s linear infinite;
}

.sponsor-track img {
  width: 120px;
  opacity: 0.6;
  transition: 0.3s;
}

.sponsor-track img:hover {
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* ===== Responsive Query for Mobile device ===== */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams,
    .our-features {
        flex-direction: column;
    }

    .nav-links {
        align-items: center;
        margin-right: 40px;
    }

    .nav-item {
        margin-top: 20px;
    }

    .banner-desc {
        padding: 0 15px;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .responsive {
        padding: 0 15px;
    }

    .architect img {
        width: 100%;
    }

    #experience-badge {
        margin-top: 30px;
        margin-left: 30px;
    }

    .fact-section h3 {
        padding: 0 15px;
    }

    .fact-section p {
        padding: 0 15px;
    }

    .facts-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 24px;
    }

    .sponsor p {
        padding: 0 15px;
    }
}



/* ===== Medium Size device ===== */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        margin: 0 20px;
    }

    .teams,
    .our-features {
        flex-direction: column;
    }

    .responsive {
        padding: 0 15px;
    }

    .architect img {
        width: 100%;
    }

    #experience-badge {
        margin-top: 30px;
        margin-left: 30px;
    }

    .fact-section h3 {
        padding: 0 15px;
    }

    .fact-section p {
        padding: 0 15px;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
}